* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family:'Roboto', Courier, monospace;
    font-size: 0.9rem;
}

nav {
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: center;

}

nav a {
    text-decoration: none;
    color: #9c9ea1;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.menu {
    width: 80VW;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.links {
    display: flex;
    gap: 1rem;
}

/* Paragraph Sec */

header {
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: center;
    height: 300px;
    align-items: center;

}

.hero {
    display: flex;
    width: 80VW;
    justify-content: space-around;
}

.hero-txt h1 {
    font-weight: bold;
    font-size: 2.5rem;
}

.text {
    font-weight: 3S00;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    width: 6rem;
    height: 1.8rem;
    margin-top: -.5rem;
    border-radius: .4rem;

}

.button a {
    text-decoration: none;
    color: antiquewhite;
}

/* Body Sec */

.body h1 {
    display: flex;
    justify-content: center;
    margin: 2rem;
    font-weight: 900;
    color: #1F2937;
    font-size: 36px;
}

.boxes {
    display: flex;
    justify-content: space-around;
}

.squareOne {
    display: flex;
    height: 8rem;
    width: 8rem;
    outline-style: solid;
    outline-color: #3882F6;
    border-radius: 10px;
}

.squareTwo {
    display: flex;
    height: 8rem;
    width: 8rem;
    outline-style: solid;
    outline-color: #3882F6;
    border-radius: 10px;
}

.squareThree {
    display: flex;
    height: 8rem;
    width: 8rem;
    outline-style: solid;
    outline-color: #3882F6;
    border-radius: 10px;
}

.squareFour {
    display: flex;
    height: 8rem;
    width: 8rem;
    outline-style: solid;
    outline-color: #3882F6;
    border-radius: 10px;
}

.contentBoxes {
    display: flex;
    margin: 1rem;
    justify-content: center;
    justify-content: space-around;
    text-align: center;
    font-weight: 300;
}

/* Body Two Sec */

.bodyTwo {
    background-color: #e5e7eb;
    padding: 10rem;
}



.quote {
    display: flex;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.author {
    display: flex;
    justify-content: end;
    font-weight: bold;
    font-size: 20px;
}

.signUpContainer {
    display: flex;
    justify-content: space-around;
    padding: 2.5rem;
    margin: 5rem;
    background-color: #3882F6;
    color: #e5e7eb;
    border-radius: 10px;
}

.paragraph {
    font-weight: 100;
}

.headerTwo {
    font-weight: bold;
    font-size: large;
}

.buttonTwo a {
    display: flex;
    text-decoration: none;
    color: #e5e7eb;
    outline-style: solid;
    outline-width: 1px;
    padding: .3rem;
    border-radius: 5px;
    width: 6rem;
    justify-content: center;
    font-weight: bold;
}

.copyright {
    display: flex;
    background-color: #1F2937;
    color: #e5e7eb;
    padding: 2rem;
    justify-content: center;
}
